body{
    background-image: url(img.jpg);
}
p{
    text-align: right;
    font-size: 36px;
    color: white;
}
p.centro{
    text-align: center;
    font-size: 52px;
    color: white;

}
.generica{
    font-family: "lucida";
    font-size: 32px;
    color: white;
}
h2,h5{
    text-align: left;
    color: greenyellow;
    font-family: "lucida Sans";
}
a:hover{
    color:ff0000;
    font-style: 50px;
}
a:link{
    color: yellowgreen;
}
h1{
    text-align: left;
    font-size: 30px;
    color: rgb(202, 202, 212);
}
html{
	height: 100%;
}
body {
	text-align:left;
	background: #000;
	margin:0;
	padding:0;
	height:100%;
}
* {
	list-style:none; 
	padding:0px;
	margin:0px;
}
#all{
	height:100%;
	width:100%;
	margin:auto;
}



