body{
    background-image: url(inova.jpg);
}
p{
    text-align: right;
    font-size: 36px;
    color: white;
}
p.centro{
    text-align: center;
    font-size: 52px;
    color: white;

}
.generica{
    text-align: right;
    font-family: "lucida";
    font-size: 40px;
    color: white;
}
.conteudo{
    font-size: 20px;
    color: white;
}
h1{
    text-align: left;
    color:white;
    font-size: 28px;
}

